<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Please create system DSN. DSN shuld NOT be TpmReports -->
    <add key="DsnName" value="tpmreportservicer" />
    <!--add key="DatabaseName" value="TPM_TAFE_18032019"/-->
    <add key="DatabaseName" value="TPM_LandT" />
    <add key="UserID" value="sa" />
    <add key="Password" value="pctadmin$123" />
    <add key="WindowsAuthentication" value="False" />
    <!--<add key="TPM-TrakConnectionString" value="data source =AMIT-DEV7\SQL2017STD;initial catalog=BaluAuto_13May2019;max pool size=500;uid=sa;pwd=pctadmin$123;" />-->
    <!--<add key="TPM-TrakConnectionString" value="Data Source=AMIT-LT14\SQLEXPRESS2017; Initial Catalog=LTR_CUSTM_190320;max pool size=500;uid=sa;pwd=pctadmin$1234" />-->
    <!--<add key="TPM-TrakConnectionString" value="Data Source=DESKTOP-4TEHJ4J\SQLEXPRESS2; Initial Catalog=GEA;max pool size=500;uid=sa;pwd=pctadmin$123" />-->
    <add key="TPM-TrakConnectionString" value="Data Source=AMIT-LT7\SQL2017NEW; Initial Catalog=TPM_CP_14102020;max pool size=500;uid=sa;pwd=pctadmin$1234" />
        <!--<add key="TPM-TrakConnectionString" value="Data Source=WIN10-TEST\MSSQL2017ENT; Initial Catalog=TPM;max pool size=500;uid=sa;pwd=pctadmin$1234" />-->
    <!--<add key="TPM-TrakConnectionString" value="Data Source=AMIT-DEV3\AMITDEV3; Initial Catalog=TAFE_TPM1;max pool size=500;uid=sa;pwd=pctadmin$123" />-->
    <add key="LogHistoryDays" value="30" />
    <!--TimeDelayAfterShiftEnd should be in minutes.-->
    <add key="TimeDelayAfterShiftEnd" value="15" />
    <!--EWSExchangeServer should be(2007 SP1,2007 SP2,2007 SP3,2010,2010 SP1,2010 SP2,2013) .-->
    <add key="EWSExchangeServer" value="2010" />
    <!-- Change to true if port is 587 -->
    <add key="EnableSSL" value="true" />
    <!--Delete old reports older than n days (modification time): 0 to never delete-->
    <add key="DeleteOldReportsDays" value="5" />
    <!--File Share Path-->
    <add key="FileShareFolderPath" value="C:\Reports" />
    <add key="UserID_Fileshare" value="" />
    <add key="Password_Fileshare" value="" />
    <!--Proxy server settings-->
    <add key="ProxyIPAddress" value="" />
    <add key="ProxyPortNo" value="" />
    <add key="ProxyUsername" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--LnT Production Details-->
    <add key="MonthStartDayForProductionDetails" value="1"/>
    <add key="sonapages" value="1"/>
    <add key="AdvikPages" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.1" newVersion="4.5.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>